@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
  font-family: "Fira Code", monospace;
}
main {
  margin: auto;
  width: 70%;
}

.options {
  margin: 10px 0;
}

.target {
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
  border: 1px solid #bbbbbb;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.item-target {
  display: grid;
  grid-template-columns: 1fr 50px 100px;
  grid-gap: 10px;
  align-items: stretch;
  margin: 10px 0;
}

.items-per-minute {
  color: hsl(0, 0%, 50%);
  font-size: 14px;
  font-style: italic;
  align-self: center;
}

input[type=number] {
  border-radius: 3px;
  font-family: "Fira Code", monospace;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0 5px;
  height: 36px;
  outline: none;
}

input[type=number]:hover {
  border-color: hsl(0, 0%, 70%);
}

.recipe-input {
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 10px;
  align-items: center;
}

.recipe-list {
  margin-left: 0px;
}

.extra {
  color: green;
}

.less {
  color: red;
}

.raw {
  color: blue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
